<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %} {{ title }} {% else %} Sache Fact {% endif %}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/all.min.css') }}">
</head>
<body>
    {% include 'includes/_userHeader.html' %}
    <div class="container-fluid py-3">
        {% include 'includes/_flash.html' %}
        {% block mainContent %}{% endblock mainContent %}
    </div>
    {% include 'includes/_userFooter.html' %}
    <script src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.bundle.min.js') }}"></script>
</body>
</html>