<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>405 - Method Not Allowed</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/error.css') }}">
</head>
<body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">405</span></h1>
        <p class="output">{{ msg }}.</p>
        <p class="output">Please try to <a {% if current_user.is_authenticated %}
            href="{{ url_for('admins.home') }}"
            {% else %}
            href="{{ url_for('users.home') }}"
        {% endif %}>return to the homepage</a>.</p>
        <p class="output">Good luck.</p>
    </div>
</body>
</html>