{% extends 'layouts/user.html' %}
{% block css %}
{{ super() }}
<style>
    .blogthumbnail {
        background-repeat: no-repeat;
        background-size: 250px 250px;
        width: 250px;
        height: 250px;
    }

    .blogcontent {
        position: relative;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
    }

    .blogcontent p {
        margin-bottom: 0px;
    }
</style>
{% endblock css %}
{% block body %}
<div class="row">
    <div class="col-md-9 col-12">
        <div class="my-4" id="searchdisplay">
            {% for blog in blogs.items %}
            <div class="row">
                <div class="col-md-3 col-12 blogthumbnail" title="{{ blog.title }}" style="background-image: url({{ url_for('static', filename='post/'+blog.thumbnail) }});">
                    <p class="pt-2 pl-2">
                        {% for postcategory in postcategories %}{% if postcategory.post_id == blog.id %}{% for category in categories %}{% if postcategory.category_id == category.id  %}
                        <span class="badge bg-primary mx-1">{{ category.name }}</span>    
                        {% endif %}{% endfor %}{% endif %}{% endfor %}
                    </p>
                </div>
                <div class="col-md-9 col-12 card border-0">
                    <div class="card-header">
                        <div class="card-title">
                            <a class="h3 text-info text-decoration-none" href="{{ url_for('users.singleblog', slag=blog.slag) }}">{{ blog.title }}</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="text-muted">Admin : {{ site.admin_displayname }}</p>
                            </div>
                            <div>
                                {% for posttag in posttags %}{% if posttag.post_id == blog.id %}{% for tag in tags %}{% if posttag.tag_id == tag.id  %}
                                <span class="badge bg-primary mx-1">{{ tag.name }}</span>
                                {% endif %}{% endfor %}{% endif %}{% endfor %}
                                <i class="fas fa-tags m-1 text-info"></i>
                            </div>
                        </div>
                        <div class="mt-2">
                            <span class="blogcontent">
                                {{ blog.content|safe }}
                            </span>
                            <span><a href="{{ url_for('users.singleblog', slag=blog.slag) }}"> read more...</a></span>
                            <p class="text-muted text-right">Posted at : {{ blog.created_at }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if blogs.has_prev %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('users.blogs', page=blogs.prev_num) }}">Previous</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                    {% endif %}
                    {% if blogs.has_next %}
                      <li class="page-item"> <a class="page-link px-4" href="{{ url_for('users.blogs', page=blogs.next_num) }}">Next</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled px-4" href="#">Next</a></li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-3 border-left px-3">
        {% include 'includes/_userSidebar.html' %}
    </div>
</div>
{% endblock body %}