<header>
    <nav class="navbar navbar-expand-lg navbar-light m-0 p-0" style="background-color: #5B3216;">
        <div class="container-fluid m-0 p-0">
            <img class="" width="100%" src="{{ url_for('static', filename='site/poster.jpg') }}" alt="No Poster">
        </div>
    </nav>
    <nav class="container py-2" style="background-color: #F1920F;">
        <ul class="nav d-flex justify-content-around">
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Contact</a>
            </li>
        </ul>
    </nav>
</header>