<footer class="text-center pt-3 pb-1" style="background-color: #5B3216;">
    <p class="h4" style="color: #F1920F;"><del><i>If the facts don't fit the theory change the facts</i></del></p>
    <div class="icon my-3">
        <a href="#" class="mx-2" title="Youtube"><i class="fab fa-youtube fa-2x text-danger"></i></a>
        <a href="#" class="mx-2" title="Facebook"><i class="fab fa-facebook fa-2x text-primary"></i></a>
        <a href="#" class="mx-2" title="Instagram"><i class="fab fa-instagram fa-2x text-warning"></i></a>
    </div>
    <p class="text-light"><strong>Copyright &copy; 2020-<script>var d = new Date(); document.write(d.getFullYear());</script> | All rights reserved.</p>
    <a href="https://www.facebook.com/gyankit">
        <img src="{{ url_for('static', filename='site/ms.png') }}" alt="Marker" class="text-right rounded-circle" width="32px" style="opacity: .8">
    </a>
</footer>